
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	/* max-height: 100vh; */
	background: rgba(14, 16, 20, 1);
	background: #d6d6d6;
	color: #acb2b8;
	color: #777;
	font-size: 14px;
	font-family: 'Motiva Sans', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1 {
	font-weight: 100;
}
h1 em {
	font-style: normal;
	font-weight: bold;
	color: #777;
}
canvas {
	background-color: white;
	border: 3px dashed #777;
}