
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	/* max-height: 100vh; */
	background: rgba(14, 16, 20, 1);
	background: #12202a;
	background-image: url('../images/pattern.svg');
	background-size: auto 600px;
	color: #acb2b8;
	color: #eff9;
	font-size: 14px;
	font-family: 'Motiva Sans', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
}
h1 {
	font-weight: 100;
}
h1 em {
	font-style: normal;
	font-weight: bold;
	color: #777;
}
.message-history, .new-message-form {
	width: 100%;
	max-width: 500px;
}

.message-history {
	min-height: 200px;
	flex-grow: 1;
	max-height: 40vh;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: transparent;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 20px;
	background-size: auto 150%, contain, contain;
	background-image: url('../images/pattern.svg'), linear-gradient(0, #08151c, #13222b) , linear-gradient(50deg, #E684AE, #79CBCA, #77A1D3) ;
	background-image: linear-gradient(0, #08151ccc, #13222bcc);
	box-shadow: 0 0 40px 0 #08151c;
	backdrop-filter: blur(3px);
}

.message-history article {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 10px;
	margin-bottom: 10px;
}
.message-history article p {
	margin: 0;
}
.message-history article .author {
	opacity: .9;
	font-weight: bold;
	color: white;
}
.message-history article .message {
	background-color: rgb(116, 116, 146);
	background-color: #2c475b;
	padding: 5px 20px 5px 15px;
	border-radius: 15px;
	border-top-left-radius: 0;
	color: white;
	font-size: 16px;
}
.message-history article.me {
	flex-direction: row-reverse;
	align-items: flex-end;
}
.message-history article.me .message {
	background: linear-gradient(50deg, #c6ffdd, #fbd786, #f7797d);
	border-top-left-radius: 15px;
	border-bottom-right-radius: 0;
	color: black;
}
form {
	display: flex;
	z-index: 1;
}
form textarea {
	flex-grow: 1;
	border: none;
	border-bottom-left-radius: 5px;
}
form button {
	border: none;
	background-image: linear-gradient(50deg, #79CBCA, #77A1D3);
	padding: 0 20px;
	cursor: pointer;
	font-weight: bold;
	color: #263242;
	border-bottom-right-radius: 5px;
	transition: all .2s ease;
}
form button:hover {
	filter: brightness(1.2);
}