//Affichage des vues :
    
//Menu
$menu-color: white; 
$text-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$text-size-1: 1.5rem; 
$text-size-2: 1.1rem; 
$text-size-3: 0.8rem;  
$font-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

//Gameover
$gameover-color: white; 

body{
    font-family:$text-font;
    display: flex;
    justify-content: center;
    align-items: center;
    .inGameInfo{
        position:absolute;
        display: none;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.468);
        border-radius: 20px;
        border: solid 1px black;
        text-align: center;
        min-width: 200px;
        padding: 20px;
        margin-bottom: 42%;
    }
    .menu{
        position: absolute;
        z-index: 10;
        height: 85%;
        width: 50%;
        background-color: $menu-color; 
        box-shadow: $font-shadow;
        border-radius: 20px;
        border: solid 1px black;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .title{
            text-align: center;
            font-size: 1.6rem;
            letter-spacing: 0.2cap;
            p{
                padding-left: 10px;
                position: absolute;
                text-decoration: line-through;
                color: rgba(0, 0, 0, 0.683);
            }
        }
        .divide{
            display: flex;
            justify-content: space-around;
            height: 50%;
            .name{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;
                margin-left: 2%;
                margin-right: 2%;
                text-align: center;
                font-size: $text-size-1;
                p{
                    text-align: left;
                }
                input{
                    font-family: $text-font;
                    font-size: $text-size-1;
                    height: 30px;
                    
                }
                @media screen and (max-width:425px){
                    p{
                        font-size: $text-size-2;
                    }
                }
            }
            .vl {
                border: 0.5px solid black;
                height: 100%;
            
            }
            .skin-selection{
                width: 44%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                .preview{
                    background-image: url(../images/initial.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 15vw;
                    height: 15vw;
                    min-height: 180px;
                    min-width: 180px;
                    margin-bottom: 2%;
                    text-align: center;
                }
                @media screen and (max-width:400px){
                    .preview{
                        min-height: 140px;
                        min-width: 140px;
                    }
                }
                .skin ,.color{
                    letter-spacing: 0.2cap;
                    //-webkit-text-stroke: 1px white;
                    text-shadow: 0.1em 0.1em white;
                    width: 96%;
                    display: flex;
	                flex-direction: row;
	                flex-wrap: nowrap;
	                justify-content: space-evenly;
                    gap: 3px;
                    .arrow-left{
                        border: 1px solid black;
                        height: 40px;
                        border-radius: 8px;
                        img {
                            transform: rotate(180deg);
                        }
                    }
                    .text-choice{
                        text-align: center;
                        font-size: 1.1rem;
                        font-family: $text-font;
                        border: 1px solid black;
                        height: 40px;
                        width: 50%;
                        min-width: 50px;
                        padding-left: 2px;
                        padding-right: 2px;
                        border-radius: 8px;
                        p{
                            margin-top: 10px;
                        }
                        @media screen and (max-width:475px){
                            p{
                                font-size: $text-size-3;
                            }
                        }
                        @media screen and (max-width:400px){
                            p{
                                font-size: 0.52rem;
                            }
                        }
                    }
                    .arrow-right{
                        border: 1px solid black;
                        height: 40px;
                        border-radius: 8px;
                    }
                }
            }
        }
        .bottom{
            display:flex;
            flex-direction: row;
            justify-content: center;
            margin: 10px;
            button{
                font-family: $text-font;
                font-size: 1.7rem;
                width: 30%;
                height: 50px;
            }
            @media screen and (max-width:350px){
                button{
                    font-size: $text-size-2;
                }
            }
        }
    }
    @media screen and (max-width:900px){
        .menu{
            width: 70%;
        }
    }
    @media screen and (max-width:700px){
        .menu{
            width: 98%;
        }
    }
    @media screen and (max-height:600px){
        .menu{
            height: 99%;
        }
    }

    .gameover{
        position: absolute;
        z-index: 10;
        min-height: 460px;
        height: 80%;
        width: 50%;
        background-color: $gameover-color; 
        box-shadow: $font-shadow;
        border-radius: 20px;
        border: solid 1px black;

        display: none;
        flex-direction: column;
        justify-content: space-around;

        h1{
            margin-top: 1px;
            margin-bottom: 0px;
            height: 15%;
            text-align: center;
            font-size: 3rem;
            border-bottom: solid 1px black;
        }
        .divide{
            display: flex;
            justify-content: space-around;
            height: 60%;
            .info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;
                margin-left: 2%;
                margin-right: 2%;
                text-align: center;
                letter-spacing: 0.1cap;
                font-size: $text-size-1;
                p{
                    text-align: left;
                }
                @media screen and (max-width:1180px){
                    p{
                       font-size: $text-size-2;
                    }
                }
                @media screen and (max-width:465px){
                    p{
                       font-size: $text-size-3;
                    }
                }
            }

            .vl {
                border: 0.5px solid black;
                height: 100%;
            }
            .option{
                width: 44%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                gap: 10px;
                button{
                    font-family: $text-font;
                    font-size: $text-size-1;
                    width: 80%;
                    height: 50px;
                }
                @media screen and (max-width:1078px){
                    button{
                       font-size: $text-size-2;
                    }
                }
                @media screen and (max-width:450px){
                    button{
                       font-size: $text-size-3;
                    }
                }
            }
        }
        .bottom{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            height: 10%;
            padding-top: 2%;
            margin-bottom: 3%;
            border-top: solid 1px black;
            button{
                font-family: $text-font;
                font-size: $text-size-1;
                width: 45%;
                height: 50px;
            }
            @media screen and (max-width:1078px){
                button{
                   font-size: $text-size-2;
                }
            }
            @media screen and (max-width:400px){
                button{
                   font-size: 1rem;
                }
            }
        }
    }
    @media screen and (max-width:900px){
        .gameover{
            width: 70%;
        }
    }
    @media screen and (max-width:700px){
        .gameover{
            width: 98%;
        }
    }
    @media screen and (max-height:700px){
        .gameover{
            height: 90%;
        }
    }

    .leaderboard{
        position: absolute;
        z-index: 10;
        height: 80%;
        width: 50%;
        background-color: $gameover-color; 
        box-shadow: $font-shadow;
        border-radius: 20px;
        border: solid 1px black;

        display: none;
        flex-direction: column;
        justify-content: space-around;
        h1{
            text-align: center;
            font-size: 2.2rem;
            letter-spacing: 0.2cap;
        }
        .score{
            border-collapse: collapse;
            width: 90%;
            text-align: center;
            margin-left: 5%;
            td, th{
                border:1px solid gray;
                padding-top: 7px;
                padding-bottom: 7px;
            }
            th{
                font-size: 1.4rem;
                background-color: rgb(78, 255, 78);
                padding-top: 15px;
                padding-bottom: 15px;
            }
            tr:nth-child(even){
                background-color: rgb(218, 218, 218);
            }
        }
        .bottom{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            height: 10%;
            padding-top: 5%;
            border-top: solid 1px black;
            button{
                font-family: $text-font;
                font-size: $text-size-1;
                width: 45%;
                height: 50px;
            }
            @media screen and (max-width:1078px){
                button{
                   font-size: $text-size-2;
                }
            }
            @media screen and (max-width:400px){
                button{
                   font-size: 1rem;
                }
            }
        }
    }
    @media screen and (max-width:700px){
        .leaderboard{
            width: 90%;
        }
    }
    @media screen and (max-height:700px){
        .leaderboard{
            height: 90%;
        }
    }
    
    .credits{
        position: absolute;
        z-index: 10;
        height: 80%;
        min-height: 450px;
        width: 50%;
        background-color: $gameover-color; 
        box-shadow: $font-shadow;
        border-radius: 20px;
        border: solid 1px black;

        display: none;
        flex-direction: column;
        justify-content: space-around;
        h1{
            margin-top: 10px;
            margin-bottom: 0px;
            height: 15%;
            text-align: center;
            font-size: 3rem;
            border-bottom: solid 1px black;
        }
        p{
            text-align: center;
            font-size: 1.5rem;
        }
        .bottom{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            height: 90%;
            max-height: 10%;
            padding-top: 2%;
            padding-bottom: 5%;
            border-top: solid 1px black;
            button{
                font-family: $text-font;
                font-size: $text-size-1;
                width: 45%;
                height: 50px;
            }
            @media screen and (max-width:1078px){
                button{
                   font-size: $text-size-2;
                }
            }
            @media screen and (max-width:400px){
                button{
                   font-size: 1rem;
                }
            }
        }
    }
    @media screen and (max-width:600px){
        .credits{
           min-height: 95%;
        }
    }
    
}