body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .inGameInfo {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.468);
  border-radius: 20px;
  border: solid 1px black;
  text-align: center;
  min-width: 200px;
  padding: 20px;
  margin-bottom: 42%;
}
body .menu {
  position: absolute;
  z-index: 10;
  height: 85%;
  width: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 20px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .menu .title {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.2cap;
}
body .menu .title p {
  padding-left: 10px;
  position: absolute;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.683);
}
body .menu .divide {
  display: flex;
  justify-content: space-around;
  height: 50%;
}
body .menu .divide .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-size: 1.5rem;
}
body .menu .divide .name p {
  text-align: left;
}
body .menu .divide .name input {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  height: 30px;
}
@media screen and (max-width: 425px) {
  body .menu .divide .name p {
    font-size: 1.1rem;
  }
}
body .menu .divide .vl {
  border: 0.5px solid black;
  height: 100%;
}
body .menu .divide .skin-selection {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .menu .divide .skin-selection .preview {
  background-image: url(../images/initial.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15vw;
  height: 15vw;
  min-height: 180px;
  min-width: 180px;
  margin-bottom: 2%;
  text-align: center;
}
@media screen and (max-width: 400px) {
  body .menu .divide .skin-selection .preview {
    min-height: 140px;
    min-width: 140px;
  }
}
body .menu .divide .skin-selection .skin, body .menu .divide .skin-selection .color {
  letter-spacing: 0.2cap;
  text-shadow: 0.1em 0.1em white;
  width: 96%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 3px;
}
body .menu .divide .skin-selection .skin .arrow-left, body .menu .divide .skin-selection .color .arrow-left {
  border: 1px solid black;
  height: 40px;
  border-radius: 8px;
}
body .menu .divide .skin-selection .skin .arrow-left img, body .menu .divide .skin-selection .color .arrow-left img {
  transform: rotate(180deg);
}
body .menu .divide .skin-selection .skin .text-choice, body .menu .divide .skin-selection .color .text-choice {
  text-align: center;
  font-size: 1.1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 1px solid black;
  height: 40px;
  width: 50%;
  min-width: 50px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 8px;
}
body .menu .divide .skin-selection .skin .text-choice p, body .menu .divide .skin-selection .color .text-choice p {
  margin-top: 10px;
}
@media screen and (max-width: 475px) {
  body .menu .divide .skin-selection .skin .text-choice p, body .menu .divide .skin-selection .color .text-choice p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  body .menu .divide .skin-selection .skin .text-choice p, body .menu .divide .skin-selection .color .text-choice p {
    font-size: 0.52rem;
  }
}
body .menu .divide .skin-selection .skin .arrow-right, body .menu .divide .skin-selection .color .arrow-right {
  border: 1px solid black;
  height: 40px;
  border-radius: 8px;
}
body .menu .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
body .menu .bottom button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.7rem;
  width: 30%;
  height: 50px;
}
@media screen and (max-width: 350px) {
  body .menu .bottom button {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 900px) {
  body .menu {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  body .menu {
    width: 98%;
  }
}
@media screen and (max-height: 600px) {
  body .menu {
    height: 99%;
  }
}
body .gameover {
  position: absolute;
  z-index: 10;
  min-height: 460px;
  height: 80%;
  width: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 20px;
  border: solid 1px black;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}
body .gameover h1 {
  margin-top: 1px;
  margin-bottom: 0px;
  height: 15%;
  text-align: center;
  font-size: 3rem;
  border-bottom: solid 1px black;
}
body .gameover .divide {
  display: flex;
  justify-content: space-around;
  height: 60%;
}
body .gameover .divide .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  letter-spacing: 0.1cap;
  font-size: 1.5rem;
}
body .gameover .divide .info p {
  text-align: left;
}
@media screen and (max-width: 1180px) {
  body .gameover .divide .info p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 465px) {
  body .gameover .divide .info p {
    font-size: 0.8rem;
  }
}
body .gameover .divide .vl {
  border: 0.5px solid black;
  height: 100%;
}
body .gameover .divide .option {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
body .gameover .divide .option button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  width: 80%;
  height: 50px;
}
@media screen and (max-width: 1078px) {
  body .gameover .divide .option button {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 450px) {
  body .gameover .divide .option button {
    font-size: 0.8rem;
  }
}
body .gameover .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10%;
  padding-top: 2%;
  margin-bottom: 3%;
  border-top: solid 1px black;
}
body .gameover .bottom button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  width: 45%;
  height: 50px;
}
@media screen and (max-width: 1078px) {
  body .gameover .bottom button {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) {
  body .gameover .bottom button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 900px) {
  body .gameover {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  body .gameover {
    width: 98%;
  }
}
@media screen and (max-height: 700px) {
  body .gameover {
    height: 90%;
  }
}
body .leaderboard {
  position: absolute;
  z-index: 10;
  height: 80%;
  width: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 20px;
  border: solid 1px black;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}
body .leaderboard h1 {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 0.2cap;
}
body .leaderboard .score {
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  margin-left: 5%;
}
body .leaderboard .score td, body .leaderboard .score th {
  border: 1px solid gray;
  padding-top: 7px;
  padding-bottom: 7px;
}
body .leaderboard .score th {
  font-size: 1.4rem;
  background-color: rgb(78, 255, 78);
  padding-top: 15px;
  padding-bottom: 15px;
}
body .leaderboard .score tr:nth-child(even) {
  background-color: rgb(218, 218, 218);
}
body .leaderboard .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10%;
  padding-top: 5%;
  border-top: solid 1px black;
}
body .leaderboard .bottom button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  width: 45%;
  height: 50px;
}
@media screen and (max-width: 1078px) {
  body .leaderboard .bottom button {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) {
  body .leaderboard .bottom button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  body .leaderboard {
    width: 90%;
  }
}
@media screen and (max-height: 700px) {
  body .leaderboard {
    height: 90%;
  }
}
body .credits {
  position: absolute;
  z-index: 10;
  height: 80%;
  min-height: 450px;
  width: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 20px;
  border: solid 1px black;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}
body .credits h1 {
  margin-top: 10px;
  margin-bottom: 0px;
  height: 15%;
  text-align: center;
  font-size: 3rem;
  border-bottom: solid 1px black;
}
body .credits p {
  text-align: center;
  font-size: 1.5rem;
}
body .credits .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
  max-height: 10%;
  padding-top: 2%;
  padding-bottom: 5%;
  border-top: solid 1px black;
}
body .credits .bottom button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  width: 45%;
  height: 50px;
}
@media screen and (max-width: 1078px) {
  body .credits .bottom button {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) {
  body .credits .bottom button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  body .credits {
    min-height: 95%;
  }
}/*# sourceMappingURL=menu.css.map */